<p id="notice"><%= notice %></p>

<p>
  <strong>Tape format:</strong>
  <%= @tape_format.tape_format %>
</p>

<%= link_to 'Edit', edit_tape_format_path(@tape_format) %> |
<%= link_to 'Back', tape_formats_path %>
