<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created by <a href="http://www.clioandcalliope.com/" target="_blank">Clio+Calliope</a>.
</p>
<h3>Support</h3>
<p>
  Something not working right?  Email <a href="mailto:support@clioandcalliope.com">support@clioandcalliope.com</a>.
</p>
